* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(2, 2, 63);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(79, 79, 252);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(40, 255, 72);
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}

.left {
    font-size: 1.5rem;
}

.first-section {
    display: flex;
    justify-content: space-around;
    margin: 31px 0px;
    align-items: center;
}

.first-section>div {
    width: 30%;
}

.left-section {
    font-size: 3rem;
    margin: 86px 0;
}

.left-section .buttons {
    font-size: 3rem;
    padding: 40px 0;
}

.tons {
    padding: 50px;
}

.left-section .btn {
    padding: 12px;
    background-color: rgb(79, 79, 252);
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
}


.right-section img {
    width: 80%;
    margin: 50px 0;
}

.purple {
    color: blueviolet;
    font-family: 'Great Vibes', cursive;
    font-family: 'Moon Dance', cursive;
    font-family: 'Roboto', sans-serif;
}

#element {
    color: aqua;
}

.second-section {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.second-section h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 108px
}

.second-section .box {
    background: white;
    width: 75vw;
    height: 2px;
    margin: 56px;
    display: flex;
}

.image-top {
    width: 35px;
    position: relative;
    top: -60px;
    left: -9px;

}

.second-section .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.vertical-title {
    position: relative;
    top: 75px;
    left: -16px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 200px;
    font-size: 20px;
    left: -110px;
    text-align: justify;
}

footer {
    background-color: rgb(79, 79, 252);
    height: 300px;
}

footer h1 {
    text-align: center;
    padding-top: 27px;
    margin: 10px;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: auto;
    margin-top: -98px;
    text-align: justify;
}

.footer {
    display: flex;
    padding: 123px 122px;
    justify-content: space-evenly;
}

footer .footer-rights {
    text-align: center;
    padding-bottom: 10px;
    color: grey;
}
.buttons a{
    text-decoration: none;
    color: white;
}